body {
  margin: 0;
  background-color: hsl(185, 41%, 84%);
}
p {
  font-family: "Space Mono", monospace;
  font-size: 20px;
  margin: 0;
}
.logo {
  text-align: center;
  height: 300px;
}
.flex {
  display: flex;
}
.mainbox {
  border-radius: 30px;
  background-color: white;
  height: 500px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.box {
  height: 500px;
  width: 500px;
}
.greenbox {
  height: 440px;
  width: 440px;
  background-color: hsl(183, 100%, 15%);
  margin: 30px;
  border-radius: 20px;
}
.whitebox {
  height: 440px;
  width: 440px;
  margin: 30px;
}
.Text {
  height: 30px;
}
.Buttons {
  height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tipButton {
  height: 70px;
  width: 140px;
  font-family: "Space Mono", monospace;
  font-size: 30px;
  border-radius: 8px;
  background-color: hsl(183, 100%, 15%);
  color: white;
  border: solid 0px;
}
.tipButton:hover {
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
}
.tipButton:focus {
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
}
.marginerOfGreen {
  height: 340px;
  width: 340px;
  padding: 50px;
}
.tipAmount {
  display: flex;
}
.totalAmount {
  display: flex;
  margin-top: 50px;
}
#billInput {
  height: 50px;
  width: 440px;
  border: solid 2px white;
  outline: none;
  font-size: 40px;
  text-align: right;
  font-family: "Space Mono", monospace;
  color: hsl(183, 100%, 15%);
  border-radius: 8px;
}
#billInput:focus {
  border-radius: 8px;
  border: 2px solid hsl(172, 67%, 45%);
}
#peopleAmountInput {
  height: 50px;
  width: 440px;
  border: 2px solid white;
  outline: none;
  font-size: 40px;
  text-align: right;
  font-family: "Space Mono", monospace;
  color: hsl(183, 100%, 15%);
  border-radius: 8px;
}
#peopleAmountInput:focus {
  border-radius: 8px;
  border: 2px solid hsl(172, 67%, 45%);
}
#percentInput {
  height: 60px;
  width: 140px;
  border: solid 2px hsl(172, 67%, 45%);
  border-radius: 8px;
  outline: none;
  font-size: 40px;
  text-align: right;
  font-family: "Space Mono", monospace;
  color: hsl(183, 100%, 15%);
  display: none;
}
#customButton {
  font-family: "Space Mono", monospace;
  font-size: 30px;
  height: 70px;
  width: 140px;
  text-align: center;
  margin-top: 20px;
  color: hsl(186, 14%, 43%);
}
#customButton:hover {
  color: hsl(172, 67%, 45%);
}
::placeholder {
  color: hsl(185, 21%, 65%);
}
#mainLogo {
  padding-top: 200px;
}
#gray {
  color: hsl(186, 14%, 43%);
}
#dollar {
  height: 25px;
  position: relative;
  top: -40px;
  bottom: 0;
  left: 8px;
}
#person {
  height: 25px;
  position: relative;
  bottom: 40px;
  left: 8px;
}
#tipText {
  color: white;
  font-size: 18px;
}
#totalText {
  color: white;
  font-size: 18px;
}
#personText {
  font-size: 14px;
  color: hsl(186, 14%, 43%);
}
#tipNumber {
  font-size: 40px;
  color: hsl(172, 67%, 45%);
  margin-left: 100px;
}
#totalNumber {
  font-size: 40px;
  color: hsl(172, 67%, 45%);
  margin-left: 143px;
}
#resetButton {
  height: 50px;
  width: 340px;
  font-family: "Space Mono", monospace;
  font-size: 23px;
  border-radius: 8px;
  background-color: hsla(172, 100%, 50%, 0.178);
  color: hsl(183, 100%, 15%);
  border: solid 0px;
  margin-top: 120px;
}
